---
title: danielnolandotcom
layout: default
---
{% for post in paginator.posts %}
  <div class="well "><!-- grey blog post area -->

    <article class="blog-post"><!-- blog post content in here -->

      <span class="date-tag"><!-- blog post date tag wrapper -->
        <i class="fa fa-calendar"></i>
        {{ post.date | date_to_long_string }}
      </span>
      <a href="{{ post.url }}">
        <h1 class="postTitle">{{ post.title }}</h1><!-- blog post H1 title -->
      </a>

      {{ post.content }}

      <div class="view-comments">
        <i class="fa fa-comments"></i>
        <a href="{{ post.url }}">View Comments</a>
      </div>

      {% if post.tags %}
        <div class="blog-tags"><!-- keyword tag section -->
          <i class="fa fa-tags"></i>
          {% for tag in post.tags limit: 10 %}
            <a href="/tags/{{ tag | replace:' ', '-' | downcase }}">{{ tag }}{% if forloop.last == false %}, {%endif %}</a>
          {% endfor %}
        </div>
      {% endif %}
    </article><!-- end post content -->
  </div><!-- end grey content area -->
{% endfor %}
<div>
  <ul class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li>
          <a href="/">&laquo;</a>
        </li>
      {% else %}
        <li>
          <a href="/page{{ paginator.previous_page }}">&laquo;</a>
        </li>
      {% endif %}
    {% else %}
      <li class="disabled">
        <a href="#">&laquo;</a>
      </li>
    {% endif %}
    {% if paginator.page == 1 %}
      <li class="active">
        <a href="#">1</a>
      </li>
      {% else %}
      <li>
        <a href="/">1</a>
      </li>
    {% endif %}
    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
        <li class="active">
          <a href="#">{{ count }}</a>
      </li>
      {% else %}
        <li>
          <a href="/page{{ count }}">{{ count }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <li>
        <a href="/page{{ paginator.next_page }}">&raquo;</a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#">&raquo;</a>
      </li>
    {% endif %}
  </ul>
</div>
