---
layout: default
---

<h1 class="page-title">
  Category Archives:&nbsp;
  <a href="/categories/{{page.category | replace:' ', '-' | downcase }}">{{page.category}}</a>
</h1>
 <div class="contentBase "><!-- grey blog post area --> 
  {% for post in site.categories[page.category] %}
  <article class="blogPost">
    <span class="dateTag">{{ post.date | date_to_string }}</span>
    <h1 class="postTitle">{{ post.title }}</h1>
    <p>{{ post.description }}</p>
    <a class="more-link" href="{{ post.url }}">{{ site.excerpt_link }}</a>
    <div class="blogTags"><!-- keyword tag section -->
      
      <strong>TAGS:</strong>
        {% for tag in post.tags limit: 3 %}
          <a href="/tags/{{tag | replace:' ', '-' | downcase }}">{{ tag }}{% if forloop.last == false %}, {%endif %}</a> 
        {% endfor %}
    </div>
  </article>    
  {% endfor %}
</div>