---
layout: default
---

 <div class="contentBase "><!-- grey blog post area -->						
									
		<article class="blogPost"><!-- blog post content in here -->
			
			<span class="dateTag"><!-- blog post date tag wrapper -->
				{{ page.date | date_to_string }}
			</span>
	
			<h1 class="postTitle">{{ page.title }}</h1><!-- blog post H1 title -->
			
			{{ content }}		
			{% if page.tags %}
			<div class="blogTags"><!-- keyword tag section -->
				
				<strong>TAGS:</strong>
					{% for tag in page.tags limit: 3 %}
						<a href="/tags/{{tag | replace:' ', '-' | downcase }}">{{ tag }}{% if forloop.last == false %}, {%endif %}</a> 
					{% endfor %}
			</div>
			{% endif %}
		</article><!-- end post content -->
</div><!-- end grey content area -->
