---
layout: default
---

<h1 class="page-title">
  Tag Archives:&nbsp;
  <a href="/tags/{{page.tag | replace:' ', '-' | downcase }}">{{page.tag}}</a>
</h1>
<div class="contentBase">
{% for post in site.tags[page.tag] %}
  <article class="blogPost">
    <span class="dateTag">{{ post.date | date_to_string }}</span>
    <h1 class="postTitle">{{ post.title }}</h1>
    <p>{{ post.description }}</p>
    <a class="more-link" href="{{ post.url }}">{{ site.excerpt_link }}</a>
    <div class="blogTags"><!-- keyword tag section -->      
      <strong>Posted in:</strong>
        {% for tag in post.tags limit: 3 %}
          <a href="/tags/{{tag | replace:' ', '-' | downcase }}">{{ tag }}{% if forloop.last == false %}, {%endif %}</a> 
        {% endfor %}
    </div>
  </article> 
{% endfor %}
</div>